.THIS {
    width: 100%;
    padding: 8px;
}

.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
}

.THIS .addSpacingToNorecordDisplay{
    padding-left: 30rem!important;
    width: 70%!important;
    text-align: center!important;
}